.dashboard {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: justify;
  overflow-x: hidden;
}

.main {
  height: 100%;
  flex: 1 0 auto;
  display: flex;
}
